body{
   display:block;
   text-align:Left; 
   background-color: #004481;
   color:White;
   font-family:Verdana,Helvetica;
}

caption
{
  font-size:14px;
  font-weight:bold;  
}
span{
  display:block;
  text-align:Right; 
  font-size:11px;
  font-weight:normal;
}

input {
  font-size:11px;
  font-weight:bold;
  background-color: LightBlue;
  color:Black;
  text-align:Left;
  width:200px;
}

Button {
  font-size:11px;
  font-family:Verdana,Helvetica;
  font-weight:normal;
  color:white;
  background:#1464A5;
  border:10px;
  width:150px;
  height:25px;
}
